#external {
	color:yellow;
}

*{
	font-family:monospace;
	font-size:;
}

h1{
	font-size:40px;
}

#learn-things{
	text-transform: uppercase;
}

.languages {
	background-color: greenyellow;
}

[class="tools"] {
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	width: 90%;
}

h3 + ol {
	list-style-type:decimal ;
}

body img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

ul ~ p {
	text-align: center;
	color:black;
}

ul > li {
	letter-spacing: 5px;
	list-style-type: none;
}

